%section.sec-product-detail.bg0.p-t-65.p-b-60.main-page.login-page-demo
  .container
    = render "fittingroom/login"
.fitting
  = render "fittingroom/fittin"



:css
  .fitting {
    display: none;
  }

  .active {
    display: block;
  }
:javascript
  $( document ).ready(function() {
    if(localStorage.getItem("login-demo") == "ok") {
      $(".fitting").addClass( "active" );
      $(".login-page-demo").addClass("fitting");
    }
  });