.sec-banner.bg0.p-t-80.p-b-50.main-page
  .container
    - if @cart.line_items.present?
      .bg0.p-t-75.p-b-85
        .container
          .row
            -# .col-md.bor15.bor18.p-l-0.m-r-50.left-info.p-r-0
            -#   = render "left_info"
            .col-md.p-l-0.p-r-0
              = render "right_info"
:css
  .justify--between{
    justify-content: space-between;
  }
  .title-image-fundiin {
    width: 20%;
  }
  .fundiin-note {
    padding-left: 12.5%;
  }
  .payment-image {
    width: 50px;
    float: left;
  }
  .payment-image img {
    width:inherit;
  }

  .fundiin-note {
    font-size: 12px;
  }

  .payment-method {
      padding-left: 40px;
      padding-right: 40px;
    }

  @media only screen and (max-width: 600px) {
    .total-mobile{
      padding: 20px 15px;
    }
    .total-mobile-price{
      margin-left: 50px;
    }
    .size-126{
      margin-right: 0% !important;
    }
    .left-info {
      margin-right: 0px !important;
    }
    .left-info-cus{
      padding-left: 20px;
      padding-right: 20px;
    }
    .fundiin-note {
      padding-left: 6%;
    }
    .payment-method {
      padding-left: 0px;
      padding-right: 0px;
    }
    .radio-payment-label{
      padding: 0px;
    }
    .payment-image {
      padding: 0px;
    }
    .radio-payment{
      margin-right: 0px;
    }
    .payment-cod{
      width: 90% !important;
    }
  }
:javascript
  function checktransfer(){
    if($("input[name='order[payment_method]']:checked").val() == 'TRANSFER') {
      $('.tranfer-content').show();
    } else {
      $('.tranfer-content').hide();
    }
  }

  $(document).ready(function() {
    checktransfer();

    $("input[name='order[payment_method]']").change(function(){
      checktransfer();
    });
  });