<% if flash[:success] %>
  $('.alert').html('<p class="alert alert-success"><%= flash[:success] %></p>')
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '584519498852272');
  fbq('track', 'AddToCart');
<% elsif flash[:danger] %>
  $("#modal-window").find(".modal-content").html("<%= j (render 'new', danger: flash[:danger] ) %>");
  $("#modal-window").modal();
<% end %>
<% flash.discard %>

$('.cart-render').html('<%= j(render('carts/cart')) %>')
$('.icon-cart').html('<%= j(render('carts/icon', total_products: @cart.total_products)) %>')
/*==================================================================
    [ Cart ]*/
$('.js-show-cart').on('click',function(){
  $('.js-panel-cart').addClass('show-header-cart');
});

$('.js-hide-cart').on('click',function(){
  $('.js-panel-cart').removeClass('show-header-cart');
});

/*==================================================================
[ Cart ]*/
$('.js-show-sidebar').on('click',function(){
  $('.js-sidebar').addClass('show-sidebar');
});

$('.js-hide-sidebar').on('click',function(){
  $('.js-sidebar').removeClass('show-sidebar');
});