<% if flash[:success] %>
  $('.alert').html('<p class="alert alert-success"><%= flash[:success] %></p>')
<% elsif flash[:success] %>
  $('.alert').html('<p class="alert alert-danger"><%= flash[:danger] %></p>')
<% end %>
<% flash.discard %>

$('.cart-render').html('<%= j(render('carts/cart')) %>')
$('.icon-cart').html('<%= j(render('carts/icon', total_products: @cart.total_products)) %>')
/*==================================================================
    [ Cart ]*/
$('.js-show-cart').on('click',function(){
  $('.js-panel-cart').addClass('show-header-cart');
});

$('.js-hide-cart').on('click',function(){
  $('.js-panel-cart').removeClass('show-header-cart');
});

/*==================================================================
[ Cart ]*/
$('.js-show-sidebar').on('click',function(){
  $('.js-sidebar').addClass('show-sidebar');
});

$('.js-hide-sidebar').on('click',function(){
  $('.js-sidebar').removeClass('show-sidebar');
});