.row.align-items-center
  - Medium.all.order(:id).each do |medium|
    .col-2
      = link_to medium.url, target: "_blank" do
        = cl_image_tag  "#{medium.media_image.url}", class: "partner-image partner-mobile", loading:"lazy",  alt: "#{medium.alt}", style: "width: 100%;"