- Medium.all.order(:id).each do |medium|
  = link_to medium.url, target: "_blank" do
    = cl_image_tag  "#{medium.media_image.url}", class: "partner-img-logo partner-mobile", loading:"lazy",  alt: "#{medium.alt}"