- Partner.all.order(:id).each do |partner|
  = link_to partner.url, target: "_blank" do
    = cl_image_tag  "#{partner.partner_image.url}", class: "partner-img partner-mobile", loading:"lazy",  alt: "partner.alt"