.main-page.bg-img1.txt-center.p-lr-15.p-tb-92.about
  %h2.ltext-105.cl0.txt-center
    About
.sec-banner.bg0.p-t-80.p-b-50
  .container
    .row.p-b-148
      .col-md-7.col-lg-8
        .p-t-7.p-r-85.p-r-15-lg.p-r-0-md
          %h3.mtext-111.cl2.p-b-16
            Vision
          %p.stext-113.cl6.p-b-26
            To inspire and empower women of all shapes, sizes and color, every single day.
      .col-11.col-md-5.col-lg-4.m-lr-auto
        .how-bor1
          .hov-img0
            = image_tag 'about-01.jpg'
    .row.p-b-148
      .order-md-2.col-md-7.col-lg-8.p-b-30
        .p-t-7.p-l-85.p-l-15-lg.p-l-0-md
          %h3.mtext-111.cl2.p-b-16
            Mission
          %p.stext-113.cl6.p-b-26
            Made for women, by women, we celebrate the extraordinary sexiness of real bodies with our range of chic, versatile and affordable lingerie, swim and activewear.
      .order-md-1.col-11.col-md-5.col-lg-4.m-lr-auto.p-b-30
        .how-bor2
          .hov-img0
            = image_tag 'about-02.jpg'
    .row
      .col-md-7.col-lg-8
        .p-t-7.p-r-85.p-r-15-lg.p-r-0-md
          %h3.mtext-111.cl2.p-b-16
            Value
          %p.stext-113.cl6.p-b-26
            We believe in the natural beauty of women, in the power of sisterhood, and in our ability to shake up the status quo.
          %p.stext-113.cl6.p-b-26
            The four values below underlie who we are, what we stand for and define the way we work. They’re the bedrock of our brand and they guide us in all that we do.
          %p.stext-113.cl6.p-b-26
            Body Positivity. We challenge society’s unrealistic beauty standards, and we embrace the sexiness in all women - no matter her size, shape or color. Being sexy isn’t just for the 1%, it’s for every single woman, every single day.
          %p.stext-113.cl6.p-b-26
            Empowerment. “Behind every successful woman is a tribe of other successful women who have her back.” We believe we are stronger - individually and as a group - when we connect, support and grow together.
          %p.stext-113.cl6.p-b-26
            Courage. We do what we believe is right, what we believe needs to be done, no matter the risk. We are committed to our objectives, we take initiative, we learn from our mistakes, and we see change as an opportunity.
          %p.stext-113.cl6.p-b-26
            Cost-Conscious. We keep an eye on our expenses and make smart, sustainable choices. By controlling our costs, we can make a line that’s more accessible.
      .col-11.col-md-5.col-lg-4.m-lr-auto
        .how-bor1
          .hov-img0
            = image_tag 'about-01.jpg'
